.ant-picker-input > input[disabled] {
  background-color: #ffffff !important;
  color: black !important;
}
.ant-picker-disabled {
  background: #ffffff !important;
}
.ant-list-items {
  margin-bottom: 5rem;
}
