@import 'notFound.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

//home page.ant-form-item-row {
//   display: flex;
//   flex-direction: column;
// }
.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

//login
.ant-layout-content {
  width: 100%;
}

//map canvas
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}

//search the location
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  position: absolute;
  top: 0;
  right: 100%;
  width: 600px;
  max-width: 600px;
}

//location pop up
.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  max-width: 300px !important;
}

//close button location pop up
.mapboxgl-popup-close-button {
  width: 20px;
  height: 20px;
  font-size: 1.8rem;
}

//table
@layer components {
  .table-blue {
    @apply pt-[2px];

    .ant-table-thead .ant-table-cell {
      border-block-end: 3px solid rgba(85, 153, 214, 0.2);
      text-align: center;
    }

    .ant-table-tbody tr td {
      border-bottom: 1px solid #f5f5f5;
      border-inline-end: 1px solid #f5f5f5 !important;

      &:last-child {
        border-inline-end: 0 !important;
      }
    }

    .ant-table-content table {
      outline: 3px solid white !important;
    }

    .ant-table-cell {
      padding: 8px 8px !important;
    }

    .header-start .ant-table-cell {
      text-align: start;
    }

    .ant-table-tbody {
      .ant-table-expanded-row > .ant-table-cell {
        padding: 0 !important;
      }
    }
  }
}

// Side menu
.ant-layout-sider.ant-layout-sider-collapsed {
  max-width: 138px !important;
  width: 138px !important;
  .ant-menu-item,
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ant-menu-item,
  .ant-menu-submenu .ant-menu-submenu-title {
    padding: 20px 20px !important;
    text-align: center;
  }
}

.ant-layout-sider {
  .ant-menu-submenu {
    .ant-menu-item {
      height: 32px;

      a {
        color: #7d7d7d;
      }
    }

    .ant-menu-item-active a,
    .ant-menu-item-selected a {
      color: #5599d6;
    }
  }
}
